.scrolltop {
  position: fixed;
  right: 1rem;
  display: flex;
  bottom: -20%;
  justify-content: center;
  align-content: center;
  padding: .3rem;
  background: $main-color;
  border-radius: .4rem;
  z-index: $z-fixed;
  transition: .4s;
  visibility: hidden;
  // cursor: pointer;

  &:hover {
    background: $main-color-alt;
    cursor: pointer;
  }

  .scrolltop__icon {
    font-size: 1.8rem;
    color: $body-color;
  }
}

.show-scroll {
  visibility: visible;
  bottom: .8rem;
}

.scroll-top {
  visibility: visible;
  bottom: .8rem;
}